<!DOCTYPE html>
<html lang="en">

<script type="application/javascript">
function myFunction1() {
    var x = document.getElementById('show_tabla_1');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction2() {
    var x = document.getElementById('show_tabla_2');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction3() {
    var x = document.getElementById('show_tabla_3');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction4() {
    var x = document.getElementById('show_tabla_4');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction5() {
    var x = document.getElementById('show_tabla_5');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction6() {
    var x = document.getElementById('show_tabla_6');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction7() {
    var x = document.getElementById('show_tabla_7');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction8() {
    var x = document.getElementById('show_tabla_8');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction9() {
    var x = document.getElementById('show_tabla_9');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction10() {
    var x = document.getElementById('show_tabla_10');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction11() {
    var x = document.getElementById('show_tabla_11');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction12() {
    var x = document.getElementById('show_tabla_12');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
function myFunction13() {
    var x = document.getElementById('show_tabla_13');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}


</script>
   <head>
    <title>Logistics </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="/static/css/aos.css">

    <link rel="stylesheet" href="/static/css/style.css">
    
  </head>
  <body>

  <header class="site-footer">
      <div class="container">
        <h1 style="color:brown">Vea sus tablas</h1><br>
        <li><a href="/"> Volver a Inicio</a></li>
      </div>

  </header>




  
    <div class="site-section">

        <div class="container">
            <h1 style="color:brown">Tablas de Entidades</h1>
            <div class="row">
                <div class="col-sm-6">
                    <button onclick="myFunction1()" class="btn btn-skin btn-lg"> Bodegas</button>
                </div>
                <div class="col-sm-6">
                    <button onclick="myFunction2()" class="btn btn-skin btn-lg"> Camiones</button>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-6">
                <div id="show_tabla_1" style="display:none;">
                    <h3>Bodegas</h3>
                    <div id="t1">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo</th>
                            <th>Direccion</th>
                            <th>Capacidad</th>
                            </tr>
                        <tbody>
                            {% for cod_bodega, direccion, capacidad in bodegas %}
                                <tr>
                                    <td>{{ cod_bodega }}</td>
                                    <td>{{ direccion }}</td>
                                    <td>{{ capacidad }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div id="show_tabla_2" style="display:none;">
                    <h3>Camiones</h3>
                    <div id="t2">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Patente</th>
                            <th>Capacidad Carga</th>
                            <th>Fecha Ultima Mantencion</th>
                            <th>Empresa</th>
                            </tr>
                        <tbody>
                            {% for patente, capacidad, fecha_ult_mantencion, empresa in camion %}
                                <tr>
                                    <td>{{ patente }}</td>
                                    <td>{{ capacidad }}</td>
                                    <td>{{ fecha_ult_mantencion }}</td>
                                    <td>{{ empresa }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
                </div>


            </div><br>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <button onclick="myFunction3()" class="btn btn-skin btn-lg"> Choferes</button>
                </div>
                <div class="col-sm-6">
                    <button onclick="myFunction4()" class="btn btn-skin btn-lg"> Despedidos</button>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-7">
                <div id="show_tabla_3" style="display:none;">
                    <h3>Chofer</h3>
                    <div id="t3">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>RUT</th>
                            <th>Nombre</th>
                            <th>Apellido P</th>
                            <th>Apellido M</th>
                            <th>Sueldo</th>
                            <th>¿Despedido?</th>
                            </tr>
                        <tbody>
                            {% for rut, nombre, apellidoP, apellidoM, sueldo, despedido  in chofer %}
                                <tr>
                                    <td>{{ rut }}</td>
                                    <td>{{ nombre }}</td>
                                    <td>{{ apellidoP }}</td>
                                    <td>{{ apellidoM }}</td>
                                    <td>{{ sueldo }}</td>
                                    <td>{{ despedido }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-sm-4">
                <div id="show_tabla_4" style="display:none;">
                    <h3>Despedidos</h3>
                    <div id="t4">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>ID</th>
                            <th>Rut</th>
                            <th>Fecha de Despido</th>

                            </tr>
                        <tbody>
                            {% for id, rut, fecha_despido in despedidos %}
                                <tr>
                                    <td>{{ id }}</td>
                                    <td>{{ rut }}</td>
                                    <td>{{ fecha_despido }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
                </div>


            </div><br>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <button onclick="myFunction5()" class="btn btn-skin btn-lg"> Envios</button>
                </div>
                <div class="col-sm-6">
                    <button onclick="myFunction6()" class="btn btn-skin btn-lg"> Detalle de Envios</button>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-6">
                <div id="show_tabla_5" style="display:none;">
                    <h3>Envios</h3>
                    <div id="t5">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo</th>
                            <th>Fecha del pedido</th>
                            <th>Fecha limite entrega</th>
                            </tr>
                        <tbody>
                            {% for cod_envio, fecha_pedido, fecha_limite in envios %}
                                <tr>
                                    <td>{{ cod_envio }}</td>
                                    <td>{{ fecha_pedido }}</td>
                                    <td>{{ fecha_limite }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div id="show_tabla_6" style="display:none;">
                    <h3>Detalle de envios</h3>
                    <div id="t6">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo Envio</th>
                            <th>Codigo Producto</th>
                            <th>Cantidad</th>

                            </tr>
                        <tbody>
                            {% for cod_envio, cod_producto, cantidad in detalle_envios %}
                                <tr>
                                    <td>{{ cod_envio }}</td>
                                    <td>{{ cod_producto }}</td>
                                    <td>{{ cantidad }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
                </div>


            </div><br>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <button onclick="myFunction7()" class="btn btn-skin btn-lg"> Destinos</button>
                </div>
                <div class="col-sm-6">
                    <button onclick="myFunction8()" class="btn btn-skin btn-lg"> Productos</button>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-6">
                <div id="show_tabla_7" style="display:none;">
                    <h3>Destinos</h3>
                    <div id="t7">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo Ciudad</th>
                            <th>Ciudad</th>
                            <th>Numero de Bodegas</th>
                            </tr>
                        <tbody>
                            {% for cod_destino, ciudad, num_bodegas in destino %}
                                <tr>
                                    <td>{{ cod_destino }}</td>
                                    <td>{{ ciudad }}</td>
                                    <td>{{ num_bodegas }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div id="show_tabla_8" style="display:none;">
                    <h3>Productos</h3>
                    <div id="t8">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo Producto</th>
                            <th>Marca</th>
                            <th>Tipo</th>

                            </tr>
                        <tbody>
                            {% for cod_producto, marca, tipo in productos %}
                                <tr>
                                    <td>{{ cod_producto }}</td>
                                    <td>{{ marca }}</td>
                                    <td>{{ tipo }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
                </div>


            </div>

        </div>

    </div>

    <div class="site-section">

        <div class="container">
             <h1 style="color:brown">Tablas Relacionales</h1>
             <div class="row">
                <div class="col-sm-6">
                    <button onclick="myFunction9()" class="btn btn-skin btn-lg"> Chofer/Camion</button>
                </div>
                <div class="col-sm-6">
                    <button onclick="myFunction10()" class="btn btn-skin btn-lg"> Destino/Bodega</button>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-6">
                <div id="show_tabla_9" style="display:none;">
                    <h3>Chofer/Camion</h3>
                    <div id="t9">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Patente</th>
                            <th>Rut</th>

                            </tr>
                        <tbody>
                            {% for patente, rut in chofer_camion %}
                                <tr>
                                    <td>{{ patente }}</td>
                                    <td>{{ rut }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div id="show_tabla_10" style="display:none;">
                    <h3>Destino/Bodega</h3>
                    <div id="t10">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo Destino</th>
                            <th>Codigo Bodega</th>


                            </tr>
                        <tbody>
                            {% for cod_destino, cod_bodega in destino_bodega %}
                                <tr>
                                    <td>{{ cod_destino }}</td>
                                    <td>{{ cod_bodega }}</td>


                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
                </div>


            </div>

        </div>




        </div>
        <div class="container">

             <div class="row">
                <div class="col-sm-6">
                    <button onclick="myFunction11()" class="btn btn-skin btn-lg"> Envio/Camion</button>
                </div>
                <div class="col-sm-6">
                    <button onclick="myFunction12()" class="btn btn-skin btn-lg"> Envio/Chofer</button>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-6">
                <div id="show_tabla_11" style="display:none;">
                    <h3>Envio/Camion</h3>
                    <div id="t11">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo Envio</th>
                            <th>Patente</th>

                            </tr>
                        <tbody>
                            {% for cod_envio, patente in envio_camion %}
                                <tr>
                                    <td>{{ cod_envio }}</td>
                                    <td>{{ patente }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div id="show_tabla_12" style="display:none;">
                    <h3>Envio/Chofer</h3>
                    <div id="t12">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo Envio</th>
                            <th>RUT</th>


                            </tr>
                        <tbody>
                            {% for cod_envio, rut in envio_chofer %}
                                <tr>
                                    <td>{{ cod_envio }}</td>
                                    <td>{{ rut }}</td>


                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>

                </div>
                </div>


            </div>

        </div> <br>




        </div>
         <div class="container">

             <div class="row">
                <div class="col-sm-6">
                    <button onclick="myFunction13()" class="btn btn-skin btn-lg"> Envio/Destino</button>
                </div>


             </div>
             <div class="row">
                <div class="col-sm-6">
                <div id="show_tabla_13" style="display:none;">
                    <h3>Envio/Destino</h3>
                    <div id="t13">
                        <table class="table table-striped table-dark">
                            <tr>
                            <th>Codigo Envio</th>
                            <th>Codigo Destino</th>

                            </tr>
                        <tbody>
                            {% for cod_envio, cod_destino in envio_destino %}
                                <tr>
                                    <td>{{ cod_envio }}</td>
                                    <td>{{ cod_destino }}</td>

                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                </div>

                </div>


            </div>












    </div>
    <div class="site-section border-top">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="mb-5 text-black">Logistics</h2>

          </div>
        </div>
      </div>
    </div>


  <footer class="site-footer">
      <div class="container">




            Copyright &copy;<script>document.write(new Date().getFullYear());</script></a>


            </div>




    </footer>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/jquery.countdown.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>