<html>
<head>
    <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/cssl/style.css">

    <body>
        <div class="loginbox">
        <img src="/static/images/icon.png" class="avatar">
            <h1>Ingrese aqui</h1>
            <form method="post" action="login">
                <p>Usuario</p>
                <input type="text" name="usuario" placeholder="Ingrese su usuario">
                <p>Contraseña</p>
                <input type="password" name="pwd" placeholder="Ingrese su contraseña">
                <input type="submit" name="" value="Login">
                <a href="register">Cree su cuenta</a> <br>
                <a href="/">Volver a Inicio</a>
            </form>


        </div>




</body>




</head>


</html>